html {
  font-family: Montserrat, sans-serif !important;
}

html > a {
  color: #007acc !important;
}

* > img {
  width: 100%;
  height: auto;
}

.title > a {
  color: #888b8d;
  display: table;
  white-space: nowrap;
  font-weight: 700;
  font-style: oblique !important;
  box-shadow: none;
  text-decoration: none;
}

.title > a:before,
.title > a:after {
  border-top: 1px solid #888b8d;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}

.title > a:before {
  right: 1.5%;
}

.title > a:after {
  left: 1.5%;
}

.secondary-title > a {
  box-shadow: none;
  box-shadow: 0 1px 0 0 currentColor;
  color: #007acc !important;
  font-weight: 400;
  text-decoration: none;
}

.footer {
  bottom: 0;
  display: table;
  white-space: nowrap;
}

.footer > div {
  display: flex;
  justify-content: space-evenly;
  width: 15em;
}

.footer > a {
  box-shadow: none;
}

footer:before,
footer:after {
  border-top: 1px solid #888b8d;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}
footer:before {
  right: 1.5%;
}
footer:after {
  left: 1.5%;
}

.text-link {
  color: #888b8d;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  text-transform: capitalize;
}

.time {
  flex-grow: 1;
}

.time > span {
  font-size: 0.83255rem;
  line-height: 1.75rem;
}

.blog-title {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 2.5rem;
  line-height: 1.1;
}

.blog-title:hover {
  text-decoration: none;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
  min-height: 258px;
}

#mc_embed_signup > form > div {
  display: flex;
  flex-flow: column;
  max-width: 30rem;
  margin: 35px auto;
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

#mc_embed_signup_scroll > h1 {
  font-weight: 300;
  font-size: 25px;
  margin-top: 1.5rem;
}

#mc_embed_signup_scroll > input[type="email"] {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  padding: 1em 0 0.8em;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.5;
  color: inherit;
  outline: none;
}

#mc_embed_signup_scroll > input[type="email"]:placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

#mc_embed_signup_scroll > div {
  width: 100%;
  text-align: center;
}

#mc_embed_signup_scroll > div > input[type="submit"] {
  all: unset;
  margin: 2.4em;
  background: transparent;
  border: 2px solid;
  padding: 1em 4em;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  transition: all 300ms ease;
}

.error-text {
  padding: 4px 0;
  color: red;
}

.success-text {
  padding: 4px 0;
  color: lightgreen;
}

.date {
  margin-right: 8px;
}
