@import url("https://fonts.googleapis.com/css?family=Lato:400,700,800");

html {
  font-family: "Lato", Georgia !important;
}

html > a {
  color: #007acc !important;
}

.title > a {
  color: #888b8d;
  display: table;
  white-space: nowrap;
  font-weight: 700;
  font-style: oblique !important;
  box-shadow: none;
  text-decoration: none;
}

.title > a:before,
.title > a:after {
  border-top: 1px solid #888b8d;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}

.title > a:before {
  right: 1.5%;
}

.title > a:after {
  left: 1.5%;
}

.secondary-title > a {
  box-shadow: none;
  box-shadow: 0 1px 0 0 currentColor;
  color: #007acc;
  font-weight: 400;
  text-decoration: none;
}

.footer {
  bottom: 0;
  display: table;
  white-space: nowrap;
}

.footer > div {
  display: flex;
  justify-content: space-evenly;
  width: 15em;
}

.footer > a {
  box-shadow: none;
}

footer:before,
footer:after {
  border-top: 1px solid #888b8d;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}
footer:before {
  right: 1.5%;
}
footer:after {
  left: 1.5%;
}

.text-link {
  color: #888b8d;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  text-transform: capitalize;
}

.time > span {
  font-size: 0.83255rem;
  line-height: 1.75rem;
}

.blog-title {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  color: inherit;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 2.5rem;
  line-height: 1.1;
}

.blog-title:hover {
  text-decoration: none;
}
